* {
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Righteous', cursive;
}

.container {
    margin: auto;
    list-style: none;
    background-image: linear-gradient(45deg, black, rgb(174, 33, 61), blue);
    text-align: center;
    padding: 27px;
    height: 100vh;
}

h2 {
    text-transform: uppercase;
    color: rgb(190, 156, 156);
}

#box {

    color: aliceblue;
    text-align: center;
    background-color: rgb(42, 38, 38, 0.7);
    border-radius: 10px;
    top: 50%;
    margin-left: 50%;
    transform: translate(-50%, 2%);
    padding: 10px;
    max-width: 590px;
}

img {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 100px;
}

@media (min-width:500px) {
    #box {
        width: 80%;

    }

}
